<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
    
     Redirect 301 /contents/food.html http://localhost:8765/breakfast.html
 </IfModule>